<div class="row">
  <div class="round-corners mt-3 card w-50 p-2 mx-auto ">
    <div class="card-header">
      <h2 class="card-title font-weight-bold">Pacific Ocean</h2>
    </div>
    <img class="card-img-top"
      src="https://img5.goodfon.com/original/1920x1080/5/a1/wave-water-ocean-sunset.jpg"
      alt="Card image cap">
    <div class="card-body">
      <p class="card-text">
        The Pacific Ocean is the largest and deepest of Earth's oceanic divisions. It extends from the Arctic Ocean in the north to the Southern Ocean in the south and is bounded by the continents of Asia and Australia in the west and the Americas in the east.
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div>
